<div class="container">
  <header>
    <div class="header-left">
      <span>INTELIGENCIA ARTIFICIAL</span>
    </div>
    <div class="header-center">
      <marquee scrollAmount="9px">
        <h1>FISI-Ingeniería de Sistemas</h1>
      </marquee>
    </div>
    <div class="header-right">
      <img src="assets/unmsm.png" alt="UNMSM Logo">
      <span>UNMSM</span>
      <button class="menu-button" (click)="toggleMenu()">&#9776;</button>
    </div>
  </header>

  <div class="welcome-section">
    <div class="welcome-text">
      <h2>¡Bienvenidos a SanMarBot!</h2>
      <p>SanMarBot es tu asistente personal diseñado para ofrecer apoyo integral a estudiantes que enfrentan desafíos académicos y emocionales. Sabemos que la vida académica puede ser estresante y desafiante, especialmente durante los periodos de exámenes finales. Nuestro objetivo es proporcionar un entorno seguro y acogedor donde puedas encontrar el apoyo que necesitas para manejar tu ansiedad y mejorar tu bienestar general.</p>
    </div>
    <div class="welcome-image">
      <img src="assets/FONDOUNMSMA.png" alt="Centro de urgencias">
    </div>
  </div>

  <div class="side-menu" [class.open]="menuOpen">
    <div class="menu">
      <div class="menu-header">
        <span class="menu-title">MENU</span>
        <button class="close-menu" (click)="toggleMenu()">X</button>
      </div>
      
      <ul>
        <li><a (click)="navigateTo('login')">Iniciar sesión</a></li>
        <li><a href="#">Misión</a></li>
        <li><a href="#">Servicios ofrecidos</a></li>
        <li><a href="#">Recursos online</a></li>
      </ul>
    </div>
  </div>

  <footer>
    <a href="#">Términos y condiciones</a>
    <p>Sistema de Chatbot de apoyo estudiantil de la UNMSM (SanMarBot)</p>
    <p>2024</p>
  </footer>
</div>
